@font-face {
  font-family: "Proba Pro";
  src: url("../fonts/Probaproregular.ttf") format("opentype");
}
@font-face {
  font-family: "Proba Pro Italic";
  src: url("../fonts/Probaproitalic.ttf") format("opentype");
}
@font-face {
  font-family: "Proba Pro Bold";
  src: url("../fonts/Proba_Pro_Bold.otf") format("opentype");
}
@font-face {
  font-family: "Intro";
  src: url("../fonts/Intro.otf") format("opentype");
}
html {
  font-size: 16px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Proba Pro";
}
body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}
header.mobile-header {
  display: none;
}
.title {
  font-size: 2em;
  font-family: "Proba Pro Bold";
  display: block;
  margin-top: 2rem;
  margin-bottom: 0.8rem;
}
button {
  cursor: pointer;
  font-family: "Proba Pro";
  font-size: 1.05em;
  padding: 0.65em 1.35em 0.65em 1.35em;
  border: none;
  color: white;
  background-color: red;
}

/* `Menu */
aside {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding-top: 1.5rem;
  width: 20%;
  display: flex;
  flex-direction: column;
  background-color: #ededed;
  overflow: hidden;
  z-index: 3;
}
.logo {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.3em;
  font-size: 1.1em;
}
.logo span.single-line {
  padding: 0.25em;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo strong {
  font-size: 1.7em;
  /* margin-left: 1em; */
  margin-right: 0.2em;
  font-family: "Intro";
  transform: translateY(10%);
}
.logo strong.red {
  color: red;
}
.logo span.extra-line {
  background-image: linear-gradient(to right, #e0e0e0, #eeeeee);
}
nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
}
nav a {
  text-decoration: none;
  color: black;
  text-decoration: underline;
  padding: 0.5em;
  padding-left: 2rem;
  padding-right: 2rem;
}
nav a.active {
  text-decoration: none;
  color: whitesmoke;
  background-color: red;
}
.contacts {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
}
span.phone-number {
  font-family: "Proba Pro Bold";
  font-size: 1.2em;
}
div.email-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
span.email {
  margin-top: 0.2em;
  font-size: 1.1em;
  text-decoration: underline;
  display: flex;
  align-items: center;
}
.contacts .fa-envelope {
  color: red;
  margin-right: 0.5em;
  margin-top: 0.3em;
}
.button-order-call {
  margin-top: 1em;
}
aside footer {
  margin-top: 2em;
  padding: 0 2em;
}
aside footer .social-links {
  display: flex;
  color: #cecece;
  font-size: 1.4em;
  margin-bottom: 0.5em;
}
aside footer .social-links i {
  margin-right: 0.5em;
}
aside footer .copywrite {
}

/* ------------ */
/* `Main block  */
/* ------------ */
ul {
  list-style-image: url("../images/checkmark.png");
  line-height: 1.75em;
}
main {
  margin-left: 20%;
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 2em;
  overflow: hidden;
}
/* All content */
/* SLider */
.slider {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  align-items: center;
}
.slide {
  width: 100%;
  flex: 1;
}
.slider-button {
  padding: 0.3em 0.6em 0.2em 0.6em;
  font-size: 1.75em;
  position: absolute;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  border-radius: 6em;
  -webkit-border-radius: 6em;
  -moz-border-radius: 6em;
  -ms-border-radius: 6em;
  -o-border-radius: 6em;
  cursor: pointer;
  margin-left: 1em;
  margin-right: 1em;
  font-weight: lighter;
}
#left.slider-button{
    padding-left: 0.5em
}
#right.slider-button{
    padding-right: 0.5em
}
.slider .prev {
}
.slider .next {
  right: inherit;
  margin-left: -2.61em;
}
.slider img {
}
.content {
}
.about {
}
.list {
}
.list li {
}
/* Products */
.production {
}
.prods {
  display: flex;
  justify-content: space-between;
}
.product {
  overflow: hidden;
}
.product img {
}
.product-name {
  background-color: red;
  padding: 0.6em;
  padding-left: 0.85em;
  color: whitesmoke;
  margin-top: -2em;
  margin-right: 2em;
  position: relative;
  font-family: "Proba Pro Bold";
  z-index: 1;
  letter-spacing: 0.1em;
}
/* Sertififcates */
.sertificates {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}
.serts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sert {
  overflow: hidden;
}
/* Shop */
.shop {
  margin-top: 2em;
}
.shop table {
  width: 100%;
}
.shop table tr {
  padding: 1em;
}
.shop table th {
  padding: 1em 0.5em;
  text-align: left;
  color: grey;
}
.table-button {
  padding: 0.3em 1em;
  width: 100%;
  color: white;
}
/* Нечетные строки */
table tr:nth-child(odd) {
  background: #fff;
}
/* Четные строки */
table tr:nth-child(even) {
  background: #f7f7f7;
}
table tr td {
  overflow: hidden;
  padding: 0.5em;
}
/* Short text */
.short-text {
  margin-top: 2em;
}
/* Special technicque */
.special {
  /* border: 1px solid red; */
  display: flex;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-image: url("../images/special.png");
  background-size: inherit;
  margin-top: 2em;
}
.bg-special {
  width: 100%;
  position: relative;
  z-index: -1;
}
.special-content {
  padding: 1em;
  /* position: absolute; */
  display: flex;
  flex-direction: row;
  /* border: 1px solid #000; */
  /* margin-right: 2rem; */
}
.special-content div {
  flex: 1;
}
.title-muted {
  margin: 0;
  margin-bottom: 1rem;
  color: #4c463d;
}
.special-text {
  margin-bottom: 1rem;
  line-height: 1.75em;
}
.special-buttons {
}
.special-more {
  display: none;
}
