* {
    box-sizing: border-box;
}

body {
    margin: 0; padding: 0;
}

.map {
    width: 100vw;
    height: 100vh;

    overflow: hidden;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.map svg {
    max-width: 100%;
    max-height: 100%;
}

.selected {
    fill: white !important;
    fill-opacity: 0.5;
    stroke: black !important;
}

path {
    transition: 0.5s;
}